<?xml version="1.0" encoding="utf-8"?>
<!--internalLogLevel默认Info,off不显示 -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="f:\temp\internal-nlog.txt">
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="f:/temp/dwlogs/${level}/${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <!-- 自己的日志。使用一些ASP.NET核心渲染器 -->
    <target xsi:type="File" name="ownFile-web" fileName="f:/temp/ownFoleWeb/${level}/${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <!--write to database，dbprovider(mssql:Microsoft.Data.SqlClient)-->
    <target name="database" xsi:type="Database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionString="Server=127.0.0.1;port=3306;uid=root;pwd=123456;database=nlogdata;charset=utf8;SslMode=None;">
      <commandText>
        INSERT INTO log
        (Application,LogDate,LogLevel,Message,Logger,CallSite,Exception)
        VALUES
        (@Application,@LogDate,@LogLevel,@Message,@Logger,@CallSite,@Exception);
      </commandText>
      <parameter name="@Application" layout="yzj_program" />
      <parameter name="@LogDate" layout="${date}" />
      <parameter name="@LogLevel" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@CallSite" layout="${callsite:filename=true}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--跳过非关键的Microsoft日志，因此只记录自己的日志-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="logallfile" minlevel="Warn" writeTo="allfile" />
    <!--<logger name="logdb" minlevel="Trace" writeTo="database" />-->
    <logger name="*" minlevel="Trace" writeTo="database"/>
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
  <!--日志级别Fatal>Error>Warn>Info>Debug>Trace>Off -->
  <!--Layout上下文信息 表达式
    
    ${date}        日期2016/08/11 09:34:33.793
    
    ${time}        24小时HH:mm:ss.mmm.
    
    ${longdate}    长时间 2016-08-05 14:06:18.9293
    
    ${shortdate}   日期2016-08-05
    
    ${basedir}     根目录
    
    ${message}    信息
    
    ${level}    级别
    
    ${stacktrace}   堆栈信息
    
    ${callsite}   日志来源-->
</nlog>